<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>invoicing.AllInvoicing</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>invoicing_ltlwithin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invoicing_withpending</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invoicing_ltlwithout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invoicing_duplicate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invoicing_tlwithin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invoicing_formatting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invoicing_withoutpending</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invoicing_tlwithout</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>rates.AllRates</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>rate_smc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>rate_zip</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>rate_citystatezip</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>rate_ziptozip</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>rate_state</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>tendering.AllTendering</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tendering_accept</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tendering_create</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tendering_endtoend</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tendering_expire</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tendering_reject</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createLoad</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
