<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTendering.createLoad(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestResult)[pri:0, instance:tendering.AllTendering@33afa13b]">&gt;&gt;createLoad</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTendering.createLoad(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestResult)[pri:0, instance:tendering.AllTendering@33afa13b]">&gt;&gt;createLoad</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTendering.createLoad(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestResult)[pri:0, instance:tendering.AllTendering@33afa13b]">&gt;&gt;createLoad</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTendering.createLoad(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestResult)[pri:0, instance:tendering.AllTendering@33afa13b]">&gt;&gt;createLoad</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTendering.createLoad(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestResult)[pri:0, instance:tendering.AllTendering@33afa13b]">&gt;&gt;createLoad</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:00</td>   <td>123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllRates.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllTendering.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:tendering.AllTendering@33afa13b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllTendering.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:tendering.AllTendering@33afa13b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:00</td>   <td>316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllRates.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllTendering.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:tendering.AllTendering@33afa13b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllRates.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllRates.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllTendering.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:tendering.AllTendering@33afa13b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllRates.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllTendering.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:tendering.AllTendering@33afa13b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_duplicate(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_duplicate</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_formatting(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_formatting</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_ltlwithin(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_ltlwithin</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_ltlwithout(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_ltlwithout</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_tlwithin(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_tlwithin</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_tlwithout(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_tlwithout</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_withoutpending(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_withoutpending</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_withpending(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_withpending</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:00</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllRates.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:00</td>   <td>241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllRates.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllRates.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllRates.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllRates.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllRates.rate_citystatezip(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">rate_citystatezip</td> 
  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllRates.rate_smc(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">rate_smc</td> 
  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:00</td>   <td>288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllRates.rate_state(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">rate_state</td> 
  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllRates.rate_zip(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">rate_zip</td> 
  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:00</td>   <td>98</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllRates.rate_ziptozip(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">rate_ziptozip</td> 
  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="d475b4">  <td>19/08/12 10:56:00</td>   <td>-345</td> <td title="&gt;&gt;ExtentReport.setUp()[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@355790875</td>   <td></td> </tr>
<tr bgcolor="d475b4">  <td>19/08/12 10:56:02</td>   <td>1594</td> <td title="&lt;&lt;ExtentReport.tearDown()[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@355790875</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTendering.tendering_accept()[pri:0, instance:tendering.AllTendering@33afa13b]">tendering_accept</td> 
  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTendering.tendering_create()[pri:0, instance:tendering.AllTendering@33afa13b]">tendering_create</td> 
  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTendering.tendering_endtoend()[pri:0, instance:tendering.AllTendering@33afa13b]">tendering_endtoend</td> 
  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTendering.tendering_expire()[pri:0, instance:tendering.AllTendering@33afa13b]">tendering_expire</td> 
  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTendering.tendering_reject()[pri:0, instance:tendering.AllTendering@33afa13b]">tendering_reject</td> 
  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
</table>
