<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Log4j</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66a265">  <td>19/10/24 17:47:14</td>   <td>0</td> <td title="&gt;&gt;ExtentReport.setUp()[pri:0, instance:amazon.AmazonTest@524f3b3a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@570253226</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/24 17:47:15</td>   <td>865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTest.testSetUp()[pri:0, instance:google.GoogleTest@1869fbd2]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1843386227</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/24 17:47:35</td>   <td>20756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.verifyGooglePageTitle1()[pri:0, instance:google.GoogleTest@1869fbd2]">verifyGooglePageTitle1</td> 
  <td>TestNG-test=Google-1@1843386227</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/24 17:47:36</td>   <td>21790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTest.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:google.GoogleTest@1869fbd2]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1843386227</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/24 17:47:44</td>   <td>29794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:google.GoogleTest@1869fbd2]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1843386227</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/24 17:47:44</td>   <td>29869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTest.testSetUp()[pri:0, instance:google.GoogleTest@1869fbd2]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1843386227</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/24 17:48:00</td>   <td>46005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.verifyGooglePageTitle2()[pri:0, instance:google.GoogleTest@1869fbd2]">verifyGooglePageTitle2</td> 
  <td>TestNG-test=Google-1@1843386227</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/24 17:48:01</td>   <td>47292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTest.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:google.GoogleTest@1869fbd2]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1843386227</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/24 17:48:04</td>   <td>50128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:google.GoogleTest@1869fbd2]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1843386227</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/24 17:48:04</td>   <td>50139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTest.testSetUp()[pri:0, instance:google.GoogleTest@1869fbd2]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1843386227</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/24 17:48:18</td>   <td>63889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.verifyGooglePageTitle3()[pri:0, instance:google.GoogleTest@1869fbd2]">verifyGooglePageTitle3</td> 
  <td>TestNG-test=Google-1@1843386227</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/24 17:48:19</td>   <td>64886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTest.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:google.GoogleTest@1869fbd2]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1843386227</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/24 17:48:21</td>   <td>66684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:google.GoogleTest@1869fbd2]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1843386227</td>   <td></td> </tr>
<tr bgcolor="a67ea1">  <td>19/10/24 17:48:21</td>   <td>66953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonTest.testSetUp(java.lang.String)[pri:0, instance:amazon.AmazonTest@524f3b3a]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@1413169866</td>   <td></td> </tr>
<tr bgcolor="a67ea1">  <td>19/10/24 17:48:37</td>   <td>82911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.verifyAmazonPageTitle1()[pri:0, instance:amazon.AmazonTest@524f3b3a]">verifyAmazonPageTitle1</td> 
  <td>TestNG-test=Amazon-1@1413169866</td>   <td></td> </tr>
<tr bgcolor="a67ea1">  <td>19/10/24 17:48:37</td>   <td>83099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTest.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:amazon.AmazonTest@524f3b3a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@1413169866</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/24 17:48:41</td>   <td>87288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:amazon.AmazonTest@524f3b3a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@1413169866</td>   <td></td> </tr>
<tr bgcolor="a67ea1">  <td>19/10/24 17:48:41</td>   <td>87297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonTest.testSetUp(java.lang.String)[pri:0, instance:amazon.AmazonTest@524f3b3a]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@1413169866</td>   <td></td> </tr>
<tr bgcolor="a67ea1">  <td>19/10/24 17:49:05</td>   <td>111120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.verifyAmazonPageTitle2()[pri:0, instance:amazon.AmazonTest@524f3b3a]">verifyAmazonPageTitle2</td> 
  <td>TestNG-test=Amazon-1@1413169866</td>   <td></td> </tr>
<tr bgcolor="a67ea1">  <td>19/10/24 17:49:05</td>   <td>111476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTest.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:amazon.AmazonTest@524f3b3a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@1413169866</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/24 17:49:08</td>   <td>113867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:amazon.AmazonTest@524f3b3a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@1413169866</td>   <td></td> </tr>
<tr bgcolor="a67ea1">  <td>19/10/24 17:49:08</td>   <td>114173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonTest.testSetUp(java.lang.String)[pri:0, instance:amazon.AmazonTest@524f3b3a]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@1413169866</td>   <td></td> </tr>
<tr bgcolor="a67ea1">  <td>19/10/24 17:49:25</td>   <td>131497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.verifyAmazonPageTitle3()[pri:0, instance:amazon.AmazonTest@524f3b3a]">verifyAmazonPageTitle3</td> 
  <td>TestNG-test=Amazon-1@1413169866</td>   <td></td> </tr>
<tr bgcolor="a67ea1">  <td>19/10/24 17:49:26</td>   <td>131640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTest.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:amazon.AmazonTest@524f3b3a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@1413169866</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/24 17:49:29</td>   <td>135614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:amazon.AmazonTest@524f3b3a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@1413169866</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/24 17:49:30</td>   <td>135688</td> <td title="&lt;&lt;ExtentReport.tearDown()[pri:0, instance:amazon.AmazonTest@524f3b3a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@570253226</td>   <td></td> </tr>
</table>
