<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="beaa89">  <td>19/10/17 09:24:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:qvc.QVCTest@c9d0d6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="beaa89">  <td>19/10/17 09:24:00</td>   <td>-555</td> <td title="&gt;&gt;ExtentReport.setUp()[pri:0, instance:qvc.QVCTest@c9d0d6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@89448984</td>   <td></td> </tr>
<tr bgcolor="beaa89">  <td>19/10/17 09:24:00</td>   <td>173</td> <td title="&lt;&lt;ExtentReport.tearDown()[pri:0, instance:qvc.QVCTest@c9d0d6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="e196d3">  <td>19/10/17 09:24:00</td>   <td>-37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QVCTest.verifyQVCPageTitle1()[pri:0, instance:qvc.QVCTest@c9d0d6]">verifyQVCPageTitle1</td> 
  <td>main@89448984</td>   <td></td> </tr>
</table>
